@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="~/CSS/Index.css" rel="stylesheet" />
    <title>Reflect</title>
</head>

<body>
    <div class="container">
        <div class="" role="document">
            <div class="modal-content mc">
                <div class="modal-body modal-mb">
                    <div class="question">Question</div>
                    <div class="custom-in">
                        <input type="text" list="questions" name="questions" id="questions-list" class="input-select" placeholder="Enter a reflection question" onchange="getSelectedOption(this)" />
                        <datalist id="questions" class="htmlEle">
                        </datalist>
                        <span class="sel-chev"></span>
                    </div>

                    <div class="privacy">Privacy</div>
                    <div class="input-group custom-in">
                        <select class="cs htmlEle" id="privacy" onchange="setPrivacy()">
                            <option value="public" selected>Public - Names will be displayed with responses</option>
                            <option value="anonymous">Anonymous - Names will be omitted from responses</option>
                            <option value="owner">Owner-Responses with names displayed for owners only</option>
                        </select>
                        <span class="sel-chev3"></span>
                    </div>
                    <div class="post">
                        <div class="row custom-rw">
                            <div class="col-6 custom-col">
                                <div class="date">
                                    <div class="blk-head" id="date">Date</div>
                                    <input type="date" data-date="" data-date-format="MMMM DD, YYYY" value="2020-06-02"  class="date-ip htmlEle" id="execdate" />
                                    <span class="date-icon"></span>
                                </div>
                            </div>
                            <div class="col-6 custom-col">
                                <div class="blk-head">Time</div>
                                <div class="selc">
                                    <select class="cs htmlEle" id="exectime">
                                        <option value="Send now" selected>Send now</option>
                                        <option value="Send later">Send later</option>
                                    </select>
                                    <span class="sel-chev2"></span>
                                </div>
                                @*<div class="time-ip htmlEle">
                                        Send now
                                        <span class="time-icon"></span>
                                    </div>*@
                            </div>
                            <div class="col-6 custom-col">
                                <div class="blk-head rec">Recurrence</div>
                                <div class="selc">
                                    <select class="cs htmlEle" id="recurrance">
                                        <option value="Does not repeat" selected>Does not repeat </option>
                                        <option value="Every weekday">Every weekday (Mon-Fri)</option>
                                        <option value="Weekly">Weekly</option>
                                        <option value="Monthly">Monthly</option>
                                        <option value="Custom">Custom</option>
                                    </select>
                                    <span class="sel-chev2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prev">Preview</div>
                    <div class="br-blk">
                        <div class="created">Posted by<span id="usertext"></span></div>
                        <span class="divider">|</span>
                        <div class="reflections">Reflections are<span id="privacytext">  </span></div>
                        <div class="feeling" id="selectedTxt"></div>
                        <div class="smiles">
                            <span class="ava">
                                <img src="~/Images/1.png" alt="smile1" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/2.png" alt="smile2" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/3.png" alt="smile3" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/4.png" alt="smile4" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/5.png" alt="smile5" class="avatars">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mf">
                    <span class="clk"></span>
                    <span class="manage" onclick="openTaskModule()">Manage recurring reflections <span>(3)</span> </span>
                    <div class="float-right">
                        <button type="button" class="btn-cancle" data-dismiss="modal" onclick="closeTaskModule()">Close</button>
                        <button type="button" class="btn-send" onclick="SendAdaptiveCard()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="@("https://unpkg.com/@microsoft/teams-js@1.4.1/dist/MicrosoftTeams.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="~/Scripts/Index.js"></script>
</body>
</html>