@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="~/CSS/Index.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="@("https://unpkg.com/@microsoft/teams-js@1.4.1/dist/MicrosoftTeams.min.js")"></script>
    <title>Reflect</title>

    <script>
        microsoftTeams.initialize();
        $(document).ready(function () {
            $("select").change(function () {
                $(this).find("option:selected").each(function () {
                    var optionValue = $(this).attr("value");
                    if (optionValue) {
                        $(".box").not("." + optionValue).hide();
                        $("." + optionValue).show();
                    } else {
                        $(".box").hide();
                    }
                });
            }).change();
        });

        function SendAdaptiveCard() {
            let taskInfo = {
                question: "How are you feeling?",
                anonymousflag: "false",
                postCreateBy:"Arun Kumar",
                postDate: "",
                postSendNow: "",
                repeatFrequency: "",
                
                action: "sendAdaptiveCard"
            };
            taskInfo.card = "";
            taskInfo.height = "medium";
            taskInfo.width = "medium";
            microsoftTeams.tasks.submitTask(taskInfo);
            return true;
        };         

        submitHandler = (err, result) => {
            //if (result.action == "Chaining") {
            //        let taskInfo = {
            //        title: "",
            //        height: "",
            //        width: "",
            //        Url: "" 
            //    };
            //    taskInfo.Url = "https://1a48ca6e.ngrok.io/First";
            //    taskInfo.height = 550;
            //    taskInfo.width = 780;
            //    microsoftTeams.tasks.startTask(taskInfo, submitHandler)
            //}
            console.log("Reached submithandler!")
          
        };

        function openTaskModule() {
            let linkInfo = {
            action: "Chaining",
            };
            microsoftTeams.tasks.submitTask(linkInfo );
            return true;
        };   

        function closeTaskModule() {
            let closeTaskInfo = {
                action:"closeFirstTaskModule"
            };
            microsoftTeams.tasks.submitTask(closeTaskInfo);
            return true;
        };

    </script>
</head>

<body>
    <div class="container">  
        <div class="" role="document">
            <div class="modal-content custom-mc">
                <div class="modal-body modal-mb">
                    <div class="question">Question</div>
                    <div class="input-group custom-in">
                        <select class="cs" id="ddQuestion">
                            <!-- <option selected>Choose...</option> -->
                            <option value="1" selected>How are you feeling?</option>
                            <option value="2">How did the week go?</option>
                            <option value="3">How do you feel abouy today's project?</option>
                        </select>
                        <span class="sel-chev"></span>
                    </div>
                    <div class="custom-control custom-checkbox cc">
                        <input type="checkbox" class="custom-control-input" id="1">
                        <label class="custom-control-label cc-l" for="1">Reflections are anonymous</label>
                        <img src="~/Images/ex.png" alt="!" class="excla">
                    </div>
                    <div class="post">
                        <div class="send-post">Send post at</div>
                        <div class="date">
                            <input type="date" alt="date" class="date-ip" />
                            @*<span class="date-icon"></span>*@
                        </div>
                        <div class="time-ip ml-1">
                            Send now
                            <span class="time-icon"></span>
                        </div>
                        <div class="selc ml-1">
                            <select class="cs">
                                <option value="1" selected>Does not repeat </option>
                                <option value="2">Every weekday (Mon-Fri)</option>
                                <option value="3">Weekly</option>
                                <option value="3">Monthly</option>
                                <option value="3">Custom</option>
                            </select>
                            <span class="sel-chev2"></span>
                        </div>
                    </div>
                    <div class="prev">Preview</div>
                    <div class="br-blk">
                        <div class="created">Created by: Cara Coleman</div>
                        <span class="divider">|</span>
                        <div class="reflections">Reflections are public</div>
                        <div class="feeling">How are you feeling?</div>
                        <div class="smiles">
                            <span class="ava">
                                <img src="~/Images/1.png" alt="smile1" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/2.png" alt="smile2" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/3.png" alt="smile3" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/4.png" alt="smile4" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/5.png" alt="smile5" class="avatars">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mf">
                    <span class="clk"></span>
                    <span class="manage" onclick="openTaskModule()">Manage recurring reflections</span>
                    <div class="float-right">
                        <button type="button" class="btn-cancle" data-dismiss="modal" onclick="closeTaskModule()">Close</button>
                        <button type="button" class="btn-send" onclick="SendAdaptiveCard()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</html>