@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="~/CSS/Index.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="@("https://unpkg.com/@microsoft/teams-js@1.4.1/dist/MicrosoftTeams.min.js")"></script>
    <title>Reflect</title>

    <script>
        microsoftTeams.initialize();
        $(document).ready(function () {
            $("select").change(function () {
                $(this).find("option:selected").each(function () {
                    var optionValue = $(this).attr("value");
                    if (optionValue) {
                        $(".box").not("." + optionValue).hide();
                        $("." + optionValue).show();
                    } else {
                        $(".box").hide();
                    }
                });
            }).change();
        });

        function SendAdaptiveCard() {
            var list = document.querySelectorAll(".htmlEle");
            var htmObj = {};
            list.forEach((obj, i) => {
            htmObj[obj.getAttribute("data-attr")] = obj.value;
            });
            let taskInfo = {
                question: divEle.textContent,
                privacy:"Personal",
                ExecutionDate:"",
                ExecutionTime:"",
                postDate: "",
                postSendNowFlag: true,
                recurssionType: "Monthly",
                action: "sendAdaptiveCard"
            };
            taskInfo.card = "";
            taskInfo.height = "medium";
            taskInfo.width = "medium";
            microsoftTeams.tasks.submitTask(taskInfo);
            return true;
        };

        //function CaptureUserResponse() {
        //    let userfeedbackInfo = {
        //        userResponse: 1,
        //        reflectionID:"d221cb4d-615c-47f4-aca1-1f361bb16a47",
        //        action: "userFeedback"
        //    }
        //    microsoftTeams.tasks.submitTask(userfeedbackInfo);
        //    return true;
        //}

        submitHandler = (err, result) => {
            //if (result.action == "Chaining") {
            //        let taskInfo = {
            //        title: "",
            //        height: "",
            //        width: "",
            //        Url: ""
            //    };
            //    taskInfo.Url = "https://1a48ca6e.ngrok.io/First";
            //    taskInfo.height = 550;
            //    taskInfo.width = 780;
            //    microsoftTeams.tasks.startTask(taskInfo, submitHandler)
            //}
            console.log("Reached submithandler!")

        };

        function openTaskModule() {
            let linkInfo = {
                action: "ManageRecurringPosts",
            };
            microsoftTeams.tasks.submitTask(linkInfo);
            return true;
        };

        function closeTaskModule() {
            let closeTaskInfo = {
                action: "closeFirstTaskModule"
            };
            microsoftTeams.tasks.submitTask(closeTaskInfo);
            return true;
        };

    </script>
</head>

<body>
    <div class="container">
        <div class="" role="document">
            <div class="modal-content mc">
                <div class="modal-body modal-mb">
                    <div class="question">Question</div>
                    <div class="input-group custom-in">
                        <select class="cs htmlEle" onChange="getSelectedOption(this)">
                            <option selected disabled class="default-opt">Select a question</option>
                            <option class="default-opt" value="1" selected>How are you feeling?</option>
                            <option class="default-opt" value="2">How did the week go?</option>
                            <option class="default-opt" value="3">How do you feel about today's project?</option>
                            <option class="default-opt sel-add-q">Add custom question</option>
                        </select>
                        <span class="sel-chev"></span>
                    </div>
                    <div class="privacy">Privacy</div>
                    <div class="input-group custom-in">
                        <select class="cs htmlEle">
                            <!-- <option selected>Choose...</option> -->
                            <option value="1" selected>Public - Anyone in this chat will see responses</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                        <span class="sel-chev"></span>
                    </div>
                    <div class="post">
                        <div class="row custom-rw">
                            <div class="col-6 custom-col">
                                <div class="date">
                                    <div class="blk-head">Date</div>
                                    <input type="date" alt="date" class="date-ip htmlEle" />
                                    <span class="date-icon"></span>
                                </div>
                            </div>
                            <div class="col-6 custom-col">
                                <div class="blk-head">Time</div>
                                <div class="time-ip htmlEle">
                                    Send now
                                    <span class="time-icon"></span>
                                </div>
                            </div>
                            <div class="col-6 custom-col">
                                <div class="blk-head rec">Recurrence</div>
                                <div class="selc">
                                    <select class="cs htmlEle">
                                        <option value="1" selected>Does not repeat </option>
                                        <option value="2">Every weekday (Mon-Fri)</option>
                                        <option value="3">Weekly</option>
                                        <option value="3">Monthly</option>
                                        <option value="3">Custom</option>
                                    </select>
                                    <span class="sel-chev2"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="prev">Preview</div>
                    <div class="br-blk">
                        <div class="created">Created by: Cara Coleman</div>
                        <span class="divider">|</span>
                        <div class="reflections">Reflections are public</div>
                        <div class="feeling" id="selectedTxt">How are you feeling?</div>
                        <div class="smiles">
                            <span class="ava">
                                <img src="~/Images/1.png" alt="smile1" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/2.png" alt="smile2" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/3.png" alt="smile3" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/4.png" alt="smile4" class="avatars">
                            </span>
                            <span class="ava">
                                <img src="~/Images/5.png" alt="smile5" class="avatars">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="mf">
                    <span class="clk"></span>
                    <span class="manage" onclick="openTaskModule()">Manage recurring reflections</span>
                    <div class="float-right">
                        <button type="button" class="btn-cancle" data-dismiss="modal" onclick="closeTaskModule()">Close</button>
                        <button type="button" class="btn-send" onclick="SendAdaptiveCard()">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="~/Scripts/screen1.1.js"></script>


</html>