@{
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="~/CSS/ManageRecurringPosts.css" rel="stylesheet" type="text/css" />
    <title>Screen3</title>
</head>

<body>
    <div class="container">
        <!-- Modal -->
        <div class="" role="document">
            <div>
                <div class="modal-mb-sc2">
                    @*<div class="recurring">Recurring posts</div>
                        <div class="recu-desc">
                            View and manage recurring posts below. Previous posts will not be affected
                            and any changes will automatically apply only
                            to future posts.
                        </div>*@
                    <table class="table custom-tb">
                        <thead>
                            <tr>
                                <th scope="col" class="qutin">Question <span>(3)</span></th>
                                <th scope="col" class="privacy">Privacy</th>
                                <th scope="col" class="snd-post">Send post at</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="hw-r-u">
                                    How are you feeling about the test today?
                                    <div class="hru-desc">Created by: Cara Coleman on 4/7/2020</div>
                                </td>
                                <td class="cus-box">
                                    @*<div class="custom-control custom-checkbox">
                                            <input type="checkbox" Checked class="custom-control-input" id="1">
                                            <label class="custom-control-label" for="1"></label>
                                        </div>*@
                                    Public
                                </td>
                                <td class="date-day">Every week day at 10:00 AM</td>
                                <td class="delete-icon"></td>
                            </tr>
                            <tr>
                                <td class="hw-r-u">
                                    How are you feeling about the test today?
                                    <div class="hru-desc">Created by: Cara Coleman on 4/7/2020</div>
                                </td>
                                <td class="cus-box">
                                    @*<div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="2">
                                            <label class="custom-control-label" for="2"></label>
                                        </div>*@
                                    Public
                                </td>
                                <td class="date-day">Every Monday at 10:00 AM</td>
                                <td class="delete-icon"></td>
                            </tr>
                            <tr>
                                <td class="hw-r-u">
                                    How are you feeling about the test today?
                                    <div class="hru-desc">Created by: Cara Coleman on 4/7/2020</div>
                                </td>
                                <td class="cus-box">
                                    @*<div class="custom-control custom-checkbox">
                                            <input type="checkbox" Checked class="custom-control-input" id="3">
                                            <label class="custom-control-label" for="3"></label>
                                        </div>*@
                                    Anonymous
                                </td>
                                <td class="date-day">Every Friday at 10:50 AM</td>
                                <td class="delete-icon"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="mf">
                    <div class="float-left">
                        <span class="left-chev"></span>
                       Back
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</html>