<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <title>Screen2</title>

    <script>
        microsoftTeams.initialize();
        function closeTaskModule() {
            let closeTaskInfo = {
                action: "closeFirstTaskModule"
            };
            microsoftTeams.tasks.submitTask(closeTaskInfo);
            return true;
        };
    </script>
</head>

<body>
    <div class="loader"></div>
    <div class="modal2">
        <!-- Modal -->
        <div role="document">
            <div class="custom-mc">
                <input type="text" id="reflectionid" value="@ViewBag.reflectionId" style="display:none" />
                <div class="modal-mb-sc2"  style="display:none">
                    <div class="sc2br-blk">
                        <div class="created-sc2">Posted by <span id="createdby"></span></div>
                        <span class="divider">|</span>
                        <div class="reflections-sc2">Reflections are <span id="privacy"></span></div>
                    </div>
                    <div class="feeling-abt" id="questiontitle">How are you feeling about the test today?</div>
                    <div class="review-blk" id="reviewblock">
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="@("https://unpkg.com/@microsoft/teams-js@1.4.1/dist/MicrosoftTeams.min.js")"></script>
    <script src="~/Scripts/viewreflections.js"></script>
</body>
</html>