@font-face {
    font-family: "Teams Assets";
    src: url("../fonts/TeamsAssets-Light.woff") format("woff"), url("../fonts/TeamsAssets-Light.woff2") format("woff2");
    font-style: normal;
}

.custom-mh {
    margin: 32px 32px 0 32px;
    padding: 0;
    border-bottom: none;
}

.close {
    font-family: Teams Assets;
    font-weight: 300;
    color: #000000;
    opacity: 0.5;
    outline-color: white !important;
}

.head-logo {
    width: 36px;
    height: 36px;
    border-radius: 3px;
}

.media-mb {
    line-height: 1;
    margin-top: 3px;
}

.heading {
    font-family: Segoe UI;
    font-size: 14px;
    letter-spacing: 0.1px;
    color: #252424;
    font-weight: 600;
}

.head-desc {
    font-family: Segoe UI;
    font-size: 12px;
    color: #252424;
}

.modal-mb {
    /*margin: 32px;*/
    padding: 0;
}

.mc {
    border: none !important;
}

.question,
.privacy {
    font-family: Segoe UI;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #252424;
    font-weight: 500;
    margin-bottom: 12px;
    margin-top: 16px;
}

.privacy {
    /*margin-top: 25px;*/
}

.input-select {
    width: 100%;
    border: none;
    background-color: #f3f2f1;
    height: 32px;
    font-size: 14px;
    color: #252424;
    padding: 4px 12px;
}

    .input-select::-webkit-calendar-picker-indicator {
        display: none;
    }

.cs {
    height: 32px;
    font-family: Segoe UI;
    font-size: 14px;
    color: #252424;
    padding: 4px 12px;
    background-color: #f3f2f1;
    border-radius: 3px;
    border: none !important;
    width: 100%;
    -webkit-appearance: none;
    cursor: pointer;
}

    .cs:focus {
        border-color: white !important;
        box-shadow: none !important;
        outline: none !important;
    }

.default-opt {
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.149457);
}

.sel-add-q {
    font-size: 14px;
    color: #6266a5;
}

    .sel-add-q::before {
        content: "\E447";
        font-family: "Teams Assets";
        pointer-events: none;
        color: #6264a7;
    }

.sel-chev::before {
    content: "\E447";
    font-family: "Teams Assets";
    pointer-events: none;
    position: relative;
    right: 10px;
    float: right;
    color: #6264a7;
    bottom: 28px;
}

.sel-chev2 {
    position: relative;
    right: 23px;
}

    .sel-chev2::before {
        content: "\E447";
        font-family: "Teams Assets";
        pointer-events: none;
        position: relative;
        color: #6264a7;
        float: right;
        right: 10px;
        bottom: 28px;
    }
.sel-chev3::before {
    content: "\E447";
    font-family: "Teams Assets";
    pointer-events: none;
    position: absolute;
    right: 10px;
    float: right;
    color: #6264a7;
    top: 4px;
}

/*.post {
    margin-top: 16px;
}*/

.blk-head {
    font-family: Segoe UI;
    font-size: 14px;
    color: #252424;
    font-weight: 500;
    margin-bottom: 12px;
}

/*.rec {
    margin-top: 16px;
}
*/
.container {
    padding-right: 10px;
    padding-left: 10px;
}

.custom-rw {
    margin: 0;
}

.custom-col {
    padding: 0 3px;
}

.date-ip,
.time-ip {
    background: #f3f2f1;
    border-radius: 3px;
    height: 32px;
    font-size: 14px;
}

input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
}

input[type="date"] {
    -webkit-appearance: media-slider;
    outline-color: white;
    padding: 0 8px;
}

.time-ip {
    padding-left: 12px;
    line-height: 2.3;
    cursor: pointer;
}

.time-icon::before {
    content: "\E115";
    font-family: "Teams Assets";
    font-size: 14px;
    color: #6266a5;
    float: right;
    margin-right: 6px;
}

.date-icon {
    position: relative;
    right: 6%;
    top: 4px;
    cursor: pointer;
}

    .date-icon::before {
        content: "\E503";
        font-family: "Teams Assets";
        font-size: 14px;
        color: #6266a5;
        position: relative;
        float: right;
        right: 12px;
        bottom: 28px;
        pointer-events: none;
    }

.date-ip {
    width: 100%;
}

.prev {
    font-family: Segoe UI;
    font-size: 14px;
    color: #252424;
    font-weight: 500;
}

.br-blk {
    background: #ffffff;
    border: 1px solid #e8e7e6;
    box-sizing: border-box;
    border-radius: 3px;
    height: 115px;
    width: 100%;
    margin-top: 12px;
}

.created {
    font-family: Segoe UI;
    font-size: 14px;
    color: #666666;
    margin: 11px 0px 10px 16px;
    display: inline-flex;
}

.divider {
    color: #666666;
    margin-top: 1%;
}

.reflections {
    font-family: Segoe UI;
    font-size: 14px;
    color: #666666;
    margin: 11px 8px 10px 0px;
    display: inline-flex;
}

.feeling {
    font-family: Segoe UI;
    font-size: 14px;
    color: #252424;
    font-weight: 500;
    margin-left: 16px;
}

.smiles {
    margin-top: 12px;
    margin-left: 16px;
}

.avatars {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-right: 1%;
}

.mf {
    border-top: 2px solid #edebe9;
    padding: 3% 0;
}

.btn-cancle {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    color: black;
    width: 118px;
    height: 32px;
    font-weight: 500;
    font-size: 14px;
    margin-right: 16px;
}

    .btn-cancle:focus,
    .btn-send:focus {
        outline-color: #dddddd;
    }

.btn-send {
    background-color: #6266a5;
    color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    width: 118px;
    height: 32px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #6266a5;
    font-size: 14px;
}

.clk::before {
    content: "\E115";
    font-family: "Teams Assets";
    font-size: 16px;
    float: left;
    color: #6266a5;
}

.manage {
    font-family: Segoe UI;
    font-size: 14px;
    color: #6266a5;
    float: left;
    padding-top: 2px;
    margin-left: 12px;
}
